# Base configuration (API) [required]
SPRING_PROFILES_ACTIVE=development
SERVICE_PORT=8080
SPRING_APPLICATION_NAME=igrp-access-management

# Database configuration (Postgres) [required]
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=db_igrp_iam
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

# IAM Provider configuration [required]
AUTH_JWT_ISSUER=https://<your_keycloak_instance>/realms/igrp
IGRP_KEYCLOAK_SERVER_URL=https://<your_keycloak_instance>
IGRP_KEYCLOAK_REALM=igrp
IGRP_KEYCLOAK_CLIENT_ID=access-management
IGRP_KEYCLOAK_CLIENT_SECRET=************
IGRP_KEYCLOAK_GRANT_TYPE=client_credentials

# The superadmin username and email [required]
IGRP_SUPERADMIN_USER_EXTERNAL_ID=<superadmin_provider_user_id>
IGRP_SUPERADMIN_EMAIL=superadmin@igrp.cv

# iGRP App Center URL (for user invitations URL construction) [required]
IGRP_APP_CENTER_URL=https://<your_igrp_app_center_instance>

# M2M Sync Token (used to authenticate requests from other modules/microservices to iGRP Access Management) [required]
IGRP_ACCESS_M2M_SYNC_TOKEN=my-m2m-sync-token

# File Storage configuration (Choose between 'minio' and 's3') [required]
IGRP_STORAGE_PROVIDER=s3
IGRP_STORAGE_SECURITY=false
IGRP_STORAGE_ACCESS_KEY=admin
IGRP_STORAGE_SECRET_KEY=admin12345678
IGRP_STORAGE_BUCKET_NAME=igrp
IGRP_STORAGE_PATH_STYLE_ACCESS=true
IGRP_STORAGE_REGION=praia

# For AWS S3, override AWS endpoint (provide full URL including protocol, e.g., http://localhost:9000)
# If not provided it will map from IGRP_STORAGE_ENDPOINT and IGRP_STORAGE_PORT, resulting in http://IGRP_STORAGE_ENDPOINT:IGRP_STORAGE_PORT
IGRP_S3_AWS_ENDPOINT=http://localhost:9000

# For minIO, the endpoint and port should be provided separetely
IGRP_STORAGE_ENDPOINT=localhost
IGRP_STORAGE_PORT=9000

# Cache configuration (Redis) [optional]
REDIS_HOST=redis
REDIS_PORT=6379

# Service discovery configuration (Eureka is usually needed for local environments) [optional]
EUREKA_CLIENT_ENABLED=true
SPRING_CLOUD_DISCOVERY_ENABLED=true
EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://igrp-eureka:8761/eureka/

# SMTP configuration

# To disable notifications you can set this property to 'none' [optional]
IGRP_NOTIFICATIONS_ENABLED=mail

SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USERNAME=<smtp_user>
SMTP_PASSWORD=*************
SMTP_SENDER_ID=iam@igrp.cv

# The email body used in user invitation. The placeholder {{user}} will be replaced to the username [optional]
IGRP_MAIL_INVITE_TEMPLATE="Hello {{user}}, you were successfully invited to iGRP!"
IGRP_MAIL_INVITE_RESPONSE_TEMPLATE="Hello {{user}}, you have successfully accepted the invitation to iGRP!"
IGRP_MAIL_INVITE_CANCELLATION_TEMPLATE="Hello {{user}}, your invitation to the iGRP platform was cancelled. If you have any questions, please contact the administrator."

# API Documentation configuration (Swagger) [optional]
ENABLE_SWAGGER=true

# NOTE: Considering access via the API gateway, otherwise the path starts from /v3/api-docs/*
SPRINGDOC_SWAGGER_UI_CONFIG_URL=/igrp-access-management/v3/api-docs/swagger-config
SPRINGDOC_SWAGGER_UI_URL=/igrp-access-management/v3/api-docs

# Set the base path for API calls on Swagger in case the auto-detection doesn't resolve it correctly
OPENAPI_SERVER_API=https://api.igrp.cv/igrp-access-management

# Observability configuration (OpenTelemetry + Grafana Stack in Local Docker Compose) [optional]
OTEL_ENABLED=true
OTEL_HTTP_PORT=4318
OTEL_COLLECTOR_ENDPOINT="http://host.docker.internal:${OTEL_HTTP_PORT}"
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp
OTEL_TRACES_EXPORTER=otlp
OTEL_SERVICE_NAME="${SERVICE_NAME}"

TEMPO_SERVICE_NAME=tempo
TEMPO_SERVICE_HTTP_PORT=3200
TEMPO_SERVICE_ZIPKIN_PORT=9411

PROMETHEUS_SERVICE_NAME=prometheus
PROMETHEUS_SERVICE_PORT=9090

LOKI_SERVICE_NAME=loki
LOKI_SERVICE_PORT=3100

GRAFANA_SERVICE_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=password
GRAFANA_ALLOW_SIGN_UP=false

OTEL_COLLECTOR_SERVICE_NAME=otel-collector
OTEL_PPROF_EXTENSION=1888
OTEL_PROMETHEUS_METRICS_EXPORTER_PORT=8888
OTEL_PROMETHEUS_COLLECTOR_METRICS_EXPORTER_PORT=8889
OTEL_HEALTH_CHECK_PORT=13133
OTEL_GRPC_PORT=4317
OTEL_ZPAGES_PORT=55679

# OpenTelemetry Cluster Environments
# If you need observability, just enable the OpenTelemetry
OTEL_DISABLED=false